[submodule "Projetos/WebScraping"]
	path = Projetos/WebScraping
	url = https://github.com/LuisCampelo2/WebScraping
[submodule "Projetos/PaginaWeb]"]
	path = Projetos/PaginaWeb]
	url = https://github.com/LuisCampelo2/PaginaWebApresentao
[submodule "Projetos/PaginaWeb"]
	path = Projetos/PaginaWeb
	url = https://github.com/LuisCampelo2/PaginaWebApresentao
[submodule "Projetos/GestorDeTarefas"]
	path = Projetos/GestorDeTarefas
	url = https://github.com/LuisCampelo2/GestorDeTarefas
[submodule "Projetos/Projetos/GestorDeTarefas"]
	path = Projetos/Projetos/GestorDeTarefas
	url = https://github.com/LuisCampelo2/GestorDeTarefas
[submodule "Projetos/GestorDeTarefasDjango"]
	path = Projetos/GestorDeTarefasDjango
	url = https://github.com/LuisCampelo2/GestorDeTarefas
[submodule "ecommerce"]
	path = ecommerce
	url = https://github.com/LuisCampelo2/MinhaLoja
[submodule "Projetos/ecommerce"]
	path = Projetos/ecommerce
	url = https://github.com/LuisCampelo2/MinhaLoja
[submodule "ecommerceDjango"]
	path = ecommerceDjango
	url = https://github.com/LuisCampelo2/MinhaLoja
[submodule "Projetos/ecommerceDjango"]
	path = Projetos/ecommerceDjango
	url = https://github.com/LuisCampelo2/MinhaLoja
